/* Add space between items in the first stepper */
.content-dialog {
  max-height: calc(100vh - 200px); /* Ajustez la valeur en fonction de vos besoins */
  overflow-y: auto;
}

.mat-dialog-actions {
  justify-content: center;
  padding: 5px;
}
/* CSS pour les champs de formulaire */
input[type="text"],
input[type="number"] {
  width: 100%; /* Utilise la largeur maximale disponible */
  padding: 8px; /* Ajoute un espacement interne */
  margin-bottom: 10px; /* Ajoute un espacement en bas */
  border: 1px solid #ccc; /* Ajoute une bordure */
  border-radius: 4px; /* Ajoute un arrondi aux coins */
  box-sizing: border-box; /* Inclus la bordure et le rembourrage dans la largeur totale */
}

/* CSS pour les boutons */
button[type="submit"],
button[type="button"] {
  padding: 10px 15px; /* Ajoute un espacement interne */
  border: none; /* Supprime la bordure par défaut */
  border-radius: 4px; /* Ajoute un arrondi aux coins */
  cursor: pointer; /* Définit le curseur de la souris sur pointer */
  background-color: #3C91E6FF; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #357EBD; /* Couleur de fond au survol */
}

/* CSS pour les étiquettes */
label {
  display: block; /* Affiche les étiquettes sur une ligne différente */
  margin-bottom: 5px; /* Ajoute un espacement en bas */
}

.mat{
  text-align: center;
  text-decoration-style: solid;
  color: #3C91E6FF;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  margin-right: 10px; /* Adjust the value as needed */
}
.custom-btn {
  width: 80px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-7 {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(2,126,251,1);
  box-shadow:
    -7px -7px 20px 0px rgba(255,255,255,.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-7:before{
  height: 0%;
  width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover{
  color: rgba(251,75,2,1);
  background: transparent;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(2,126,251,1);
  box-shadow:
    -7px -7px 20px 0px rgba(255,255,255,.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}
