<section id="content">

  <!-- NAVBAR -->
<nav >
  <!--<div >-->
  <form >
    <div class="form-input">
      <input  (keyup)="applyFilter($event)" placeholder="Search ...." #input>
      <button type="button" class="search-btn"><fa-icon [icon]="search"></fa-icon></button>
    </div>
  </form>

  <a  class="notification">
    <i class='bx bxs-bell fa fa-bell' aria-hidden="true"></i>
    <span class="num">8</span>
  </a>
  <a  class="profile">
    <img src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png">
  </a>
  <!--  </div>-->
</nav>
</section>
