<app-sidenav (sidebarToggle)="onSidebarToggle($event)"></app-sidenav>
<!--<app-sidebar></app-sidebar>-->
<div  [ngClass]="{ 'expanded': isSidebarOpen === 'open' , 'expandedclose': isSidebarOpen === 'close' }">
  <app-headerapp (searchItem)="applyFilter($event)"></app-headerapp>

</div>
<div style="margin-top: 80px;" class="head-title">
  <div class="left">
    <h1></h1>

  </div>
  <div class="button-container">
  <button   class="custom-btn btn-7" ><span>
    <i  class='bx bxs-cloud-download ' style="font-size: medium;" (click)="add()">+More </i></span>
    <!-- <span  class="text">Add Etablissement</span> -->
  </button>
</div></div>
  <div class="mat-elevation-z8" [ngClass]="{ 'expanded': isSidebarOpen === 'open' ,'expandedclose': isSidebarOpen === 'close' }">
    <table style="margin-top: 10px;"  mat-table [dataSource]="ResultatRattrapageSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="CNE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CNE </th>
        <td mat-cell *matCellDef="let row"> {{row.cne}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="module">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> module </th>
        <td mat-cell *matCellDef="let row"> {{row.module}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="semestre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> semestre </th>
        <td mat-cell *matCellDef="let row"> {{row.semestreID}} </td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="filiere">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> filiere </th>
        <td mat-cell *matCellDef="let row"> {{row.filiere}} </td>
      </ng-container>
      <ng-container matColumnDef="note_ordinaire">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> note_ordinaire </th>
        <td mat-cell *matCellDef="let row"> {{row.note_ordinaire}} </td>
      </ng-container>
      <ng-container matColumnDef="note_rattrapage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> note_rattrapage </th>
        <td mat-cell *matCellDef="let row"> {{row.note_rattrapage}} </td>
      </ng-container>
      <ng-container matColumnDef="note_final">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> note_final </th>
        <td mat-cell *matCellDef="let row"> {{row.note_final}} </td>
      </ng-container>

      <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> statut </th>
        <td mat-cell *matCellDef="let row"> {{row.statut}} </td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell  *matCellDef="let row">

          <!-- <span (click)="deleteRow(row)" class="status delete"><fa-icon   class="status delete" [icon]="delete"></fa-icon></span> -->

          <!-- <span (click)="updateRow(row)" class="status edit"><fa-icon   class="status edit" [icon]="edit"></fa-icon></span> -->

          <span (click)="showMoreRow(row)" class="status more"><i class="status more" class="fa fa-eye" aria-hidden="true"></i></span>

        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter </td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>

