<mat-dialog-content class="content-dialog">
    Import file
    <!-- <button (click)="importExcel()">Import Excel</button> -->
    <input type="file" #fileInput id="fileInput" style="display:none" (change)="onFileChange($event)" accept=".xlsx, .xls">
</mat-dialog-content>
<mat-dialog-actions class="button-container">
    <button mat-button class="custom-btn btn-7" (click)="importExcel()"><span>Excel</span></button>
    <button mat-button class="custom-btn btn-7" (click)="onCancel()"><span>Cancel</span></button>
</mat-dialog-actions>
   