.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  border-radius: 40px;
}
:root{
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;

  --light: #F9F9F9;
  --blue: #3C91E6;
  --light-blue: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #342E37;
  --red: #DB504A;
  --yellow: #FFCE26;
  --light-yellow: #FFF2C6;
  --orange: #FD7238;
  --light-orange: #FFE0D3;
  --del: #943114;
  --ed: #1d5c96;
}

/*if the sidbar is open margin lefs*/

.expandedclose{
  margin-left: calc(70px); /* Adjust the width when sidebar is close */

  border-radius: 40px;

}
th{
  color: #3C91E6FF;
  font-size: 18px;
}

.expanded {
  margin-left: 280px; /* Adjust the width when sidebar is open */

  border-radius: 40px;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 300px) {
  .h-custom {
    height: 100%;
  }
}

.status {
  font-size: 10px;
  padding: 6px 16px;
  color: #F9F9F9;
  border-radius: 20px;
  font-weight: 700;
  margin-right: 10px;
  margin-left: 10px;
}


.status.delete{
  background: #DB504A;
}
.status.delete:hover {
  background:#943114;

}

.status.edit{
  background: #3C91E6;
}

.status.edit:hover {
  background: #1d5c96;
}

.status.more{
  background:orange;
}
.status.more:hover{
  background: #ad6c01;
}

.head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}
   .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color:   #342E37;
}
   .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
   .head-title .left .breadcrumb li {
  color:   #342E37;
}
   .head-title .left .breadcrumb li a {
  color: #AAAAAA;
  pointer-events: none;
}
   .head-title .left .breadcrumb li a.active {
  color: #3C91E6;
  pointer-events: unset;
}
   .head-title .btn-download {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: #3C91E6;
  color: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}



@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

body {
  background-color: #D2DBDD;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  max-width: 820px;
}

.card--1 .card__img, .card--1 .card__img--hover {
  background-image: url('https://img.freepik.com/vecteurs-libre/cute-man-graduation-cartoon-vector-icon-illustration-personnes-education-icone-concept-isole-plat_138676-8469.jpg?t=st=1709070038~exp=1709073638~hmac=c4a3f50af1f42ffb701e72b9d9b788688f6a51597aa0eef87863d849b9ed1312&w=1060');
}

.card--2 .card__img, .card--2 .card__img--hover {
  background-image: url('https://img.freepik.com/vecteurs-libre/illustration-concept-professeur_114360-4226.jpg?t=st=1709066974~exp=1709070574~hmac=d2e140606762af8d0ae6745543942210175db1d7f8a2ee96693e5e7436bff5be&w=1060');
}

.card--3 .card__img, .card--3 .card__img--hover {
  background-image: url('https://img.freepik.com/vecteurs-libre/interieur-classe-ecole-universite-concept-pedagogique-tableau-noir-table_1441-1694.jpg?t=st=1709066916~exp=1709070516~hmac=778d9a93826d424b7b2fb1f7e49565c2d6636ea49f2292dd0a6a2fe2fd03a3ae&w=2000');
}

.card__like {
  width: 18px;
}

.card__clock {
  width: 15px;
  vertical-align: middle;
  fill: #AD7D52;
}
.card__time {
  font-size: 12px;
  color: #AD7D52;
  vertical-align: middle;
  margin-left: 5px;
}

.card__clock-info {
  float: right;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;

}
.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.card__by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}


.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}




