<div class="welcomeBody">
  <header class="container-fluid bg-light">
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#websitename">Brand</a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="myNavbar">
              <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item"><a class="nav-link" href="#websitename">Home</a></li> -->
                <li class="nav-item"><a class="nav-link" href="welcome#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="login"><i class="bi bi-box-arrow-in-right"></i> Login</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <div id="websitename" class="landingpage container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
        <div class="text-center">
          <br>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about container">
    <br>
    <h1>A propos de nous</h1>
    <br>
    <div class="row">
      <div class="aboutart col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h2 style="color: rgba(251,75,2,1)">Université Moulay Ismail</h2>
        <article>L'université Moulay-Ismaïl (en arabe : جامعة مولاي اسماعيل) (en berbère : ⵜⴰⵙⴷⴰⵡⵉⵜ ⵏ ⵎⵓⵍⴰⵢ ⵙⵎⴰⵄⵉⵏ) est une institution d'enseignement supérieur publique et de recherche scientifique à but non lucratif, située à Meknès, au Maroc. L'université a été créée le 23 octobre 1989 par le dahir no 21-86-144.</article>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img alt="about" class="aboutimg"  src="https://seeklogo.com/images/U/universite-moulay-ismail-meknes-maroc-logo-1064702595-seeklogo.com.png"/>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img alt="about" class="aboutimg"  src="https://tse1.mm.bing.net/th?id=OIP.Dci8IhCYOTF3ZHs9HC0f0AHaEc&pid=Api&P=0&h=180">
      </div>
      <div class="aboutart col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h2  style="color: rgba(251,75,2,1)">Historique</h2>
        <article>1982 : Création des deux premières facultés de Meknès : la faculté des lettres et la faculté des sciences, qui furent rattachées à l'université Sidi Mohamed Ben Abdellah de Fès.<br />
          23 octobre 1989 : Création de l'université Moulay-Ismaïl par le Dahir no 21-86-144 en date du 22 Rabia I 1410 (23 octobre 1989). Les deux facultés citées ci-dessus en constituent le noyau.<br />
          1993 : Création de la faculté des sciences juridiques, économiques et sociales ainsi que l'École supérieure de technologie (EST) à Meknès.<br />
          1994 : Ouverture de la faculté des sciences et techniques (FST) à Errachidia située dans la région de Meknès-Tafilalet.<br />
          1997 : École nationale supérieure d'arts et métiers (Meknès) voit le jour à Meknès, unique établissement du genre au Maroc et en Afrique.<br />
          2006 : Ouverture d'une faculté polydisciplinaire à Errachidia.<br />
          2014 : Création d'une École supérieure de technologie à Khénifra.<br />
          2019 : Création de l'École nationale de commerce et gestion (ENCG) à Meknès.</article>
      </div>
    </div>

    <div class="row">
      <div class="aboutart col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3 style="color: rgba(251,75,2,1)">Accréditations & Reconnaissance des diplômes Université Moulay Ismaïl – Meknès</h3>
        <article>Reconnaissance du diplôme</article>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img alt="about" class="aboutimg"  src="https://i.pinimg.com/564x/f8/08/ca/f808ca791058a95086a0257733c45a9f.jpg"/>
      </div>
    </div>

  </div>

  <footer>
    <div class="container-fluid text-center">
      <p style="text-align: left">Copyright &copy; FSM 2024</p>
    </div>
  </footer>
</div>
