<app-sidebar  (sidebarToggle)="onSidebarToggle($event)"></app-sidebar>
<div  [ngClass]="{ 'expanded': isSidebarOpen === 'open' , 'expandedclose': isSidebarOpen === 'close' }">
  <app-headerapp (searchItem)="applyFilter($event)"></app-headerapp>
</div>

<div class="row d-flex justify-content-center mt-5 p-0" [ngClass]="{ 'expanded': isSidebarOpen === 'open' , 'expandedclose': isSidebarOpen === 'close' }">

  <section class="cards">
    <article class="card card--1">
      <div class="card__img"></div>
      <a href="#" class="card_link">
        <div class="card__img--hover"></div>
      </a>
      <div class="card__info">
        <span class="card__category"> Infos</span>
        <h3 class="card__title">Schools</h3>
        <span class="card__by">{{etablissements.length}}</span>
      </div>
    </article>
    <article class="card card--3">
      <div class="card__img"></div>
      <a href="#" class="card_link">
        <div class="card__img--hover"></div>
      </a>
      <div class="card__info">
        <span class="card__category"> Infos</span>
        <h3 class="card__title">Filieres</h3>
        <span class="card__by">{{filieres.length}}</span>
      </div>
    </article>

    <article class="card card--2">
      <div class="card__img"></div>
      <a href="#" class="card_link">
        <div class="card__img--hover"></div>
      </a>
      <div class="card__info">
        <span class="card__category"> Infos</span>
        <h3 class="card__title">Modules</h3>
        <span class="card__by">{{modules.length}}</span>
      </div>
    </article>
  </section>
</div>





