<h2>Modifier l'absence</h2>
<form [formGroup]="updateAbsenceForm" (ngSubmit)="onSave()">
  <div>
    <label for="etudiantId">ID de l'étudiant:</label>
    <input type="text" id="etudiantId" formControlName="etudiantId">
  </div>
  <div>
    <label for="matiereId">ID de la matière:</label>
    <input type="number" id="matiereId" formControlName="matiereId">
  </div>
  <div>
    <label for="professeurId">ID du professeur:</label>
    <input type="number" id="professeurId" formControlName="professeurId">
  </div>
  <div>
    <label for="dateAbsence">Date de l'absence:</label>
    <input type="date" id="dateAbsence" formControlName="dateAbsence" [value]="formatDate(updateAbsenceForm.get('dateAbsence')?.value)">
  </div>
  <div>
    <label for="creneauHoraire">Créneau horaire:</label>
    <input type="text" id="creneauHoraire" formControlName="creneauHoraire">
  </div>
  <div>
    <label for="justification">Justification:</label>
    <textarea id="justification" formControlName="justification"></textarea>
  </div>
  <button type="button" (click)="onCancel()">Annuler</button>
  <button type="submit">Sauvegarder</button>
</form>
