.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  border-radius: 40px;
}
:root{
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;

  --light: #F9F9F9;
  --blue: #3C91E6;
  --light-blue: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #342E37;
  --red: #DB504A;
  --yellow: #FFCE26;
  --light-yellow: #FFF2C6;
  --orange: #FD7238;
  --light-orange: #FFE0D3;
  --del: #943114;
  --ed: #1d5c96;
}

/*if the sidbar is open margin lefs*/

.expandedclose{
  margin-left: calc(70px); /* Adjust the width when sidebar is close */

  border-radius: 40px;

}
th{
  color: #3C91E6FF;
  font-size: 18px;
}

.expanded {
  margin-left: 280px; /* Adjust the width when sidebar is open */

  border-radius: 40px;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 300px) {
  .h-custom {
    height: 100%;
  }
}

.status {
  font-size: 10px;
  padding: 6px 16px;
  color: #F9F9F9;
  border-radius: 20px;
  font-weight: 700;
  margin-right: 10px;
  margin-left: 10px;
}


.status.delete{
  background: #DB504A;
}
.status.delete:hover {
  background:#943114;

}

.status.edit{
  background: #3C91E6;
}

.status.edit:hover {
  background: #1d5c96;
}

.status.more{
  background:orange;
}
.status.more:hover{
  background: #ad6c01;
}

.head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}
   .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color:   #342E37;
}
   .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
   .head-title .left .breadcrumb li {
  color:   #342E37;
}
   .head-title .left .breadcrumb li a {
  color: #AAAAAA;
  pointer-events: none;
}
   .head-title .left .breadcrumb li a.active {
  color: #3C91E6;
  pointer-events: unset;
}
   .head-title .btn-download {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: #3C91E6;
  color: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}


.box {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  font-size: 17px;
  align-items: center;
}
.box a {
  display: inline-block;
  background-color: #fff;
  padding: 15px;
  border-radius: 3px;
}
.modal{
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(238, 238, 238, 0.7);
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
}
.content {
  position: absolute;
  background: white;
  /*width: 800px;*/
  padding: 1em 2em;
  border-radius: 4px;
}
.modal:target {
  visibility: visible;
  opacity: 1;
}
.box-close {
  position: absolute;
  top: 0;
  right: 15px;
  color: orange;
  text-decoration: none;
  font-size: 40px;
}

.popup {

  display: -moz-box;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}

.popup.open {
  display: block;

}

#close-pop{
  cursor: pointer;
}


#close-poped{
  cursor: pointer;
}


.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  margin-right: 10px; /* Adjust the value as needed */
}
.custom-btn {
  width: 160px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-7 {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(2,126,251,1);
  box-shadow:
    -7px -7px 20px 0px rgba(255,255,255,.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-7:before{
  height: 0%;
  width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover{
  color: rgba(251,75,2,1);
  background: transparent;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(2,126,251,1);
  box-shadow:
    -7px -7px 20px 0px rgba(255,255,255,.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}

.password-error {
  border: 2px solid red;
}