/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

$font-family: "Inter", sans-serif;
$bg-color: #252954;
$body-color: #9b9ca7;
$main-bg: #0e0e23;
:root {
  --delay: 0s;
}

* {
  outline: none;
  box-sizing: border-box;
}



html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}



body {
  font-family: $font-family;
  background-color: $bg-color;
  color: $body-color;
}
