<div id="infos">
  <h1 class="d-block text-center py-5">Espace d'inscription en ligne</h1>
  <mat-stepper linear="Enable linear mode" #stepper>
    <mat-step [stepControl]="firstFormGroup"  [editable]="isEditable">
      <form [formGroup]="firstFormGroup" class="mt-2">
        <ng-template matStepLabel>Informations personnelles</ng-template>
        <div class="row">
          <mat-form-field class="col">
            <mat-label>Nom en Arabe</mat-label>
            <input matInput placeholder="الإسم العائلي" formControlName="nomEnArabe" dir="rtl" required>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Prénom en Arabe</mat-label>
            <input matInput placeholder="الإسم الشخصي" formControlName="prénomEnArabe" dir="rtl" required>
          </mat-form-field>        
          <mat-form-field class="col">
            <mat-label>Lieu de naissance en Arabe</mat-label>
            <input matInput placeholder="مكان الإزدياد" formControlName="lieuDeNaissanceEnArabe" dir="rtl" required>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>CIN</mat-label>
            <input matInput placeholder="Carte d'idendité nationale" formControlName="cin" required>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Nationalité</mat-label>
            <input matInput placeholder="nationalité" formControlName="nationalité" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <mat-label>Nom en Français</mat-label>
            <input matInput placeholder="Nom" formControlName="nomEnFrançais" required>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Prénom en Français</mat-label>
            <input matInput placeholder="Prénom" formControlName="prénomEnFrançais" required>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Lieu de naissance en Français</mat-label>
            <input matInput placeholder="Lieu de naissance" formControlName="lieuDeNaissanceEnFrançais" required>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Ville</mat-label>
            <input matInput placeholder="Ville" formControlName="ville" required>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Province</mat-label>
            <input matInput placeholder="Province" formControlName="province" required>
          </mat-form-field>
        </div>
        <div class="row d-flex justify-content-center">
          <mat-form-field class="col-3">
            <mat-label>Massar</mat-label>
            <input matInput placeholder="CNE ou Massar" formControlName="massar" required>
          </mat-form-field>
          <mat-form-field class="col-3">
            <mat-label>Date de naissance</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateDeNaissance" required>
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="col-3 my-auto">
            <mat-label>Sexe:</mat-label>
            <mat-radio-group [(ngModel)]="sexe" [ngModelOptions]="{standalone: true}">
              <mat-radio-button value="Homme">Homme</mat-radio-button>
              <mat-radio-button value="Femme">Femme</mat-radio-button>
            </mat-radio-group>                  
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" mat-button class="custom-btn btn-3" matStepperNext><span>Suivant</span></button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Informations Baccalauréat"  [editable]="isEditable">
      <form [formGroup]="secondFormGroup" class="mt-2">
        <div class="row">
          <mat-form-field class="col-4">
            <mat-label>Année d'obention du Bac</mat-label>
            <input matInput type="number" formControlName="annéeBac" placeholder="Quand vous avez obetenu votre Baccalauréat?" required>
          </mat-form-field>
          <mat-form-field class="col-3">
            <mat-label>Série du Bac</mat-label>
            <input matInput formControlName="sérieBac" placeholder="Votre série de Baccalauréat" required>
          </mat-form-field>
          <mat-form-field class="col-2">
            <mat-label>Mention</mat-label>
            <input matInput formControlName="mention" placeholder="Ex. Bien" required>
          </mat-form-field>
          <mat-form-field class="col-3">
            <mat-label>Lycée</mat-label>
            <input matInput formControlName="lycée" placeholder="Ex. Hassan II" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-4">
            <mat-label>Lieu</mat-label>
            <input matInput formControlName="lieu" placeholder="Lieu d'obtention de votre Baccalauréat" required>
          </mat-form-field>
          <mat-form-field class="col-3">
            <mat-label>Académie</mat-label>
            <input matInput formControlName="académie" placeholder="Ex. Marrakech-Safi" required>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
          <button type="button" mat-button class="custom-btn btn-3 mx-2" matStepperPrevious><span>Retour</span></button>
          <button type="submit" mat-button class="custom-btn btn-3 mx-2" matStepperNext><span>Suivant</span></button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Choix Formations" [editable]="isEditable">
      <form [formGroup]="thirdFormGroup" class="mt-2">
        <div class="row">
          <mat-form-field class="col-5">
            <mat-label>Veuillez choisir un établissement</mat-label>
            <mat-select placeholder="ÉTABLISSEMENT" formControlName="etablissement" (selectionChange)="loadFilieresByEtablissement($event.value)">
              <mat-option *ngFor="let etablissement of etablissements" [value]="etablissement">
                {{etablissement.nom}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-7">
            <mat-label>Veuillez choisir autant de fillières que vous voulez</mat-label>
            <mat-select placeholder="Liste des fillières" formControlName="fillieres" multiple>
              <mat-option *ngFor="let filliere of fillieres" [value]="filliere">{{filliere.nom}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
          <button type="button" mat-button class="custom-btn btn-3 mx-2" matStepperPrevious><span>Retour</span></button>
          <button type="submit" mat-button class="custom-btn btn-3 mx-2" matStepperNext><span>Suivant</span></button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Recu</ng-template>
      <p class="text-center">Vous devez télécharger votre reçu pour terminer votre inscription.</p>
      <div class="d-flex justify-content-center">
        <button mat-raised-button color="primary" (click)="downloadPDF()">Télécharger PDF</button>
      </div>
    </mat-step>
  </mat-stepper>
  <div class="d-flex justify-content-center">
    <mat-icon class="text-danger d-inline">info</mat-icon>
    <mat-hint class="text-danger d-inline">
      Veuillez noter que vous pouvez modifier vos données en cliquant sur l'étape concernée.
    </mat-hint>
  </div>
  <div class="d-flex justify-content-center m-0">
    <mat-icon class="text-danger d-inline">info</mat-icon>
    <mat-hint class="text-danger d-inline">
      Une fois que vous aurais télécharger votre reçu d'inscription vous ne pourriez rien modifier.
    </mat-hint>
  </div>
</div>