<h2 mat-dialog-title class="text-center" style="color: rgb(255, 166, 0);">{{ message }}</h2>
<mat-dialog-content class="mb-0 pb-0">
<form [formGroup]="diplome">
    <mat-form-field class="example-full-width my-2">
    <mat-label>Diplôme</mat-label>
    <input type="text" matInput formControlName="diplome">
    </mat-form-field>
    
    <mat-form-field class="example-full-width my-2">
    <mat-label>Spécialité</mat-label>
    <input type="text" matInput formControlName="specialite">
    </mat-form-field>

    <mat-form-field class="example-full-width my-2">
        <mat-label>Date d'obtention du Bac</mat-label>
        <input type="text" matInput formControlName="dateObtention">
    </mat-form-field>

    <mat-form-field class="example-full-width my-2">
        <mat-label>Université</mat-label>
        <input type="text" matInput formControlName="universite">
    </mat-form-field>

    <mat-form-field class="example-full-width my-2">
        <mat-label>Etablissement</mat-label>
        <input type="text" matInput formControlName="etablissement">
    </mat-form-field>

    <mat-form-field class="example-full-width my-2">
        <mat-label>Ville</mat-label>
        <input type="text" matInput formControlName="ville">
    </mat-form-field>

    <mat-form-field class="example-full-width my-2">
        <mat-label>Mention</mat-label>
        <input type="text" matInput formControlName="mention">
    </mat-form-field>
</form>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-center">
<button class="custom-btn btn-3" mat-button (click)="send()"><span>Enregistrer</span></button>
</mat-dialog-actions>