<app-sidebar (sidebarToggle)="onSidebarToggle($event)"></app-sidebar>

<div [ngClass]="{ 'expanded': isSidebarOpen === 'open', 'expandedclose': isSidebarOpen === 'close' }">
  <app-headerapp  (searchItem)="applyFilter($event)"></app-headerapp>
</div>

<div style="margin-top: 80px;" class="head-title">
  <div class="left">
    <h1  [ngClass]="{ 'expanded': isSidebarOpen === 'open' , 'expandedclose': isSidebarOpen === 'close' }" style="color: #1d5c96">Filières</h1>
  </div>
  <div class="button-container">
    <button class="custom-btn btn-7" (click)="openAddFiliereDialog()">
      <span>
        <i class='bx bxs-cloud-download' style="font-size: medium;">+Add Filiere</i>
      </span>
    </button>
  </div>
</div>

<div class="mat-elevation-z8" [ngClass]="{ 'expanded': isSidebarOpen === 'open' ,'expandedclose': isSidebarOpen === 'close' }">
  <table style="margin-top: 10px;" mat-table [dataSource]="filiereDataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Nom Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let row"> {{row.nom}} </td>
    </ng-container>

    <!-- Nombre d'années Column -->
    <ng-container matColumnDef="nombreAnnees">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre d'années </th>
      <td mat-cell *matCellDef="let row"> {{row.nombreAnnees}} </td>
    </ng-container>

    <!-- Nombre de semestres par année Column -->
    <ng-container matColumnDef="nombreSemestresParAnnee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de semestres par année </th>
      <td mat-cell *matCellDef="let row"> {{row.nombreSemestresParAnnee}} </td>
    </ng-container>

    <!-- Actions Column -->
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="editFiliere(row)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteFiliere(row)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Autres colonnes déjà existantes -->

    <!-- Semestres Column -->
    <ng-container matColumnDef="semestres">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Semestres </th>
      <td mat-cell *matCellDef="let row">
        <details *ngFor="let semestre of row.semestres">
          <summary>{{ semestre.nomSemestre }}</summary>
          <ul>
            <li *ngFor="let moduleId of semestre.modulesIds">
              {{ moduleId }} {{getModuleName(moduleId)}}

            </li>
          </ul>

        </details>
      </td>
    </ng-container>

    <!-- Autres colonnes déjà existantes -->


    <!-- Responsable Column -->
    <ng-container matColumnDef="responsable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsable </th>
      <td mat-cell *matCellDef="let row">
        {{ row.responsable.nom }} {{ row.responsable.prenom }}
      </td>
    </ng-container>


    <!-- Assign the columns to the table -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5">No data matching the filter </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
